@font-face {
    font-family: 'GothamBookRegular';
    src: url('fonts/GothamBookRegular.eot');
    src: url('fonts/GothamBookRegular.eot') format('embedded-opentype'),
         url('fonts/GothamBookRegular.woff2') format('woff2'),
         url('fonts/GothamBookRegular.woff') format('woff'),
         url('fonts/GothamBookRegular.ttf') format('truetype'),
         url('fonts/GothamBookRegular.svg#GothamBookRegular') format('svg');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('fonts/MontserratBold.eot');
    src: url('fonts/MontserratBold.eot') format('embedded-opentype'),
         url('fonts/MontserratBold.woff2') format('woff2'),
         url('fonts/MontserratBold.woff') format('woff'),
         url('fonts/MontserratBold.ttf') format('truetype'),
         url('fonts/MontserratBold.svg#MontserratBold') format('svg');
}


@font-face {
    font-family: 'MontserratLight';
    src: url('fonts/MontserratLight.eot');
    src: url('fonts/MontserratLight.eot') format('embedded-opentype'),
         url('fonts/MontserratLight.woff2') format('woff2'),
         url('fonts/MontserratLight.woff') format('woff'),
         url('fonts/MontserratLight.ttf') format('truetype'),
         url('fonts/MontserratLight.svg#MontserratLight') format('svg');
}


@font-face {
    font-family: 'MontserratRegular';
    src: url('fonts/MontserratRegular.eot');
    src: url('fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('fonts/MontserratRegular.woff2') format('woff2'),
         url('fonts/MontserratRegular.woff') format('woff'),
         url('fonts/MontserratRegular.ttf') format('truetype'),
         url('fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}


@font-face {
    font-family: 'MontserratSemiBold';
    src: url('fonts/MontserratSemiBold.eot');
    src: url('fonts/MontserratSemiBold.eot') format('embedded-opentype'),
         url('fonts/MontserratSemiBold.woff2') format('woff2'),
         url('fonts/MontserratSemiBold.woff') format('woff'),
         url('fonts/MontserratSemiBold.ttf') format('truetype'),
         url('fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
}


@font-face {
    font-family: 'MontserratUltraLight';
    src: url('fonts/MontserratUltraLight.eot');
    src: url('fonts/MontserratUltraLight.eot') format('embedded-opentype'),
         url('fonts/MontserratUltraLight.woff2') format('woff2'),
         url('fonts/MontserratUltraLight.woff') format('woff'),
         url('fonts/MontserratUltraLight.ttf') format('truetype'),
         url('fonts/MontserratUltraLight.svg#MontserratUltraLight') format('svg');
}

