@charset "UTF-8";
.gotham, header .header_lower .contacts {
  font-family: GothamBookRegular; }

.bold, header .header_lower .logo {
  font-family: MontserratBold; }

.light, section#query h4, footer .row div {
  font-family: "MontserratLight"; }

.regular, section#main .slogan h1, section#main .slogan button {
  font-family: "MontserratRegular"; }

.semibold, section#query button {
  font-family: "MontserratSemiBold"; }

.ultral, section#main .slogan p {
  font-family: "MontserratUltraLight"; }

/*================ ╨и╤А╨╕╤Д╤В╤Л ====================== */
header .header_upper {
  background: #04e4a2;
  height: 25px; }
header .header_lower {
  text-align: right;
  background: #e94643;
  height: 78px;
  vertical-align: center; }
  header .header_lower .logo {
    margin-top: 10px;
    font-size: 35px;
    color: #ffffff; }
  header .header_lower .contacts {
    margin-top: 25px;
    padding-right: 25px;
    font-size: 16px;
    text-transform: uppercase; }
    header .header_lower .contacts a {
      color: #f9fbe7;
      border-bottom: 3px solid #fdd835; }
      header .header_lower .contacts a:hover {
        text-decoration: none; }

section#main {
  height: 583px;
  background: #ef5350;
  color: #ffffff; }
  section#main .diagonal-lines {
    position: absolute;
    top: -367px;
    left: -820px; }
  section#main .phone {
    position: absolute;
    top: 65px;
    left: 50px;
    width: 30%;
    height: auto; }
  section#main .slogan {
    margin-top: 180px;
    padding-right: 60px; }
    section#main .slogan h1 {
      text-transform: uppercase;
      font-size: 30px;
      line-height: 1.4; }
    section#main .slogan p {
      font-size: 18px;
      line-height: 1.2; }
    section#main .slogan button {
      float: right;
      margin-right: 25px;
      margin-top: 50px;
      text-transform: uppercase;
      font-size: 18px;
      padding: 15px 20px;
      border-radius: 8px;
      background: #04e4a2;
      border: none; }

section#query {
  min-height: 400px;
  background: #ffffff; }
  section#query h4 {
    font-size: 20px;
    color: #ff8a80;
    line-height: 0.9; }
  section#query input {
    border: 2px solid #e3f2fd;
    width: 43%;
    min-width: 200px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 4px;
    margin-right: 3%;
    margin-bottom: 3%; }
  section#query textarea {
    border: 2px solid #e3f2fd;
    width: 90%;
    min-width: 420px;
    height: 100px;
    padding: 15px 20px;
    border-radius: 4px;
    margin-bottom: 15px;
    resize: none; }
  section#query button {
    float: left;
    margin-left: 400px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 20px;
    padding: 17px 34px;
    border-radius: 8px;
    background: #ef5350;
    border: none;
    color: #fff; }

footer {
  height: 73px;
  background: #fefcf2;
  text-align: left; }
  footer .row div {
    font-size: 16px;
    color: #636363;
    margin-top: 27px; }
    footer .row div .contact-mail::before {
      display: inline-block;
      content: "";
      width: 30px;
      height: 24px;
      background: url("../image/mail_icon.png") no-repeat center center;
      vertical-align: middle;
      margin-right: 20px; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  header .header_lower {
    height: 52px; }
    header .header_lower .logo {
      font-size: 23px; }
      header .header_lower .logo span {
        padding-left: 15px; }
    header .header_lower .contacts {
      font-size: 11px; }

  section#main {
    height: 300px; }
    section#main .slogan {
      margin: 0 auto;
      padding: 0 auto; }
      section#main .slogan h1 {
        font-size: 20px; }
      section#main .slogan p {
        font-size: 12px; }
      section#main .slogan button {
        margin-top: 15px;
        font-size: 12px;
        padding: 10px 14px; }

  section#query .form_query {
    margin-left: 30px; }
    section#query .form_query textarea {
      min-width: 200px;
      width: 200px;
      margin-bottom: 10px; }
    section#query .form_query button {
      margin-left: 0px;
      font-size: 18px;
      padding: 14px 29px; }

  footer {
    height: 60px;
    text-align: center; }
    footer .row div {
      margin-top: 15px;
      font-size: 12px; }
      footer .row div .contact-mail::before {
        margin-right: 15px; } }

/*# sourceMappingURL=style.css.map */
